#{extends 'main_UserArea.html' /}
#{set title:'E-learning' /}

#{set isStudent: user.isStudent/}
#{set isTutor: user.isTutor/}
#{set isTeacher: user.isTeacher/}

<div id="content">
    <div id="content-header">
       <div id="breadcrumb">  </div>
        <h1>Dashboard</h1>
    </div>
    <div class="container-fluid"><hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-briefcase"></i> </span>
                        <h5></h5>
                    </div>
                    <div class="widget-content">
                        <div class="row-fluid">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
